.about {
  width: 53.17vw;
  display: flex;
  justify-content: space-between;
  column-gap: 11.61vw;
  margin-top: 6.81vw;
  margin-right: auto;
  margin-left: auto;
}
.aboutTitle {
  color: #939393;
  font-size: 1.2vw;
  font-family: "Switzer-Variable", serif;
  font-weight: 400;
}
.aboutDescription {
  width: 38.12vw;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
  font-size: 1vw;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1vw;
}