.footer {
  width: 58.12vw;
  margin-top: 13vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3vw;
  background-color: transparent;
}
.footerLinks {
  width: 51vw;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.links {
  display: flex;
  justify-content: space-between;
  column-gap: 4vw;
  width: fit-content;
  height: fit-content;
}
.copyright {
  /*height: 1.09vw;*/
  color: #939393;
  font-size: 0.83vw;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
}
.socialLinks {
  color: #939393;
  font-size: 0.83vw;
  font-family: "Switzer-Variable", serif;
  font-weight: 300;
  text-decoration: none;
}
.socialLinks:hover {
  color: #EDECEC;
}
@media (max-width: 768px) {
  .footer {
    width: 80.66vw;
    margin-top: 38.16vw;
    padding-bottom: 8vw;

  }
  .footerLinks {
    width: 75vw;
  }
  .copyright {
    font-size: 2.54vw;
  }
  .socialLinks {
    font-size: 2.54vw;
  }
}