.hero{
    width: 100vw;
    height: fit-content;
    margin-top: 16vw;
    margin-bottom: 14vw;
    text-align: left;
}
.heroText {
    width: 38.48vw;
    font-family: "Gambarino", serif;
    font-size: 1.9vw;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}
.pp {
    width: 2.4vw;
    height: 2.4vw;
    margin-left: 0.15vw;
    margin-bottom: -0.35vw;
}
.maple{
    width: 2.3vw;
    height: 2.3vw;
    margin-bottom: -0.6vw;
}
@media (max-width: 768px) {
    .hero {
        width: 100vw;
        height: fit-content;
        margin-top: 30vw;
        margin-bottom: 43.86vw;
    }

    .heroText {
        width: 78.11vw;
        font-size: 5.85vw;

    }
    .pp {
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom: -1vw;
    }
    .maple{
        width: 7vw;
        height: 7vw;
        margin-bottom: -1.8vw;
    }
}