.ProjectsTitle {
    margin-bottom: 1.5vw;
    width: 58.12vw;
    margin-right: auto;
    margin-left: auto;
}
.SideTitle{
    text-align: left;
    color: #939393;
    font-size: 1.2vw;
    font-family: "Switzer-Variable", sans-serif;
    font-weight: 400;
    margin-left: 4.3vw;


}